/* font family */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body{
    background: rgb(245, 245, 245);
    margin:  20px 160px 0 160px ;
    font-family: "Fira Sans", serif;
   
}
nav>ul{
    display: flex;
    justify-content: space-between;
}
nav> ul >li{
    list-style: none;
}

h2{
    font-weight: 700;
    font-size: 32px;
}
.sign-in{
    border:  1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 10px;
    width: 100px;
    height: 35px;
    text-align: center;
    align-items: center;
   
}
.paragraph{
    font-size: 18px;
font-weight: 600;
color: rgb(0, 106, 80);
text-align: center;
align-items: center;
}
.banner-container{
    display: flex;
    justify-content: space-evenly;
   background: rgb(198, 228, 214);
   padding: 80px 100px 80px 100px;
   gap: 64px;
   margin-bottom: 80px;
   border-radius: 20px;
}
.banner-content{
    text-align: left;
}
.banner-content>h1{
    margin-top: 1px;
    font-size: 51px;
    font-weight: 700;
    margin-bottom: 12px;
}

button{
    width: 270px;
    height: 56px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border-color: aliceblue
    ;
    color: aliceblue;
}
.pillar-container{
    display: flex;
    gap:30px ;
}
.pillar-heading{
    font-size: 40px;
    font-weight: 700;
}
.pillar-1{
    border: 1px solid black;
    border-radius: 8px;
    padding: 30px 30px;
    margin:  24px 0;
    background-color: white;

}
.pillar-1:hover{
    background-color:darkgray;
   

}
.box{
    
    padding: 32px 32px;
    margin: 12px 0;
    border-radius: 16px;
    box-shadow: 2px 2px rosybrown;
  
}
.vision-container{
    display: flex;
    gap:20px;
}
.bg-1{
    background-color:rgba(84, 144, 245, 0.2) ;
}
.bg-1:hover{
   box-shadow: 5px 5px 5px 5px rgba(0, 117, 126, 0.507);
   background-color:rgb(11, 207, 178) ;
}
.bg-2{
    background-color:rgb(198, 228, 214) ;
}
.bg-2:hover{
    box-shadow: 5px 5px 5px 5px rgb(112, 79, 196);
    background-color: rgb(229, 0, 241);
 }
 .btn-2:hover{
    background-color: deepskyblue;
    cursor: pointer;
    font-style: italic;
    font-weight: 900;
    font-size: large;
    text-transform: capitalize
 }
.bg-3{
    background-color:rgb(247, 235, 207) ;
}
.bg-3:hover{
    box-shadow: 5px 5px 5px 5px rgb(227, 97, 128);
    background-color: rgb(255, 191, 252);
 }

.button-1{
    background-color: rgb(84, 144, 245);
    color: white;
}
.button-2{
    background-color:rgb(9, 161, 92) ;
    color: white;
}
.button-3{
    color: white;
   background-color:rgb(255, 194, 57) ;
}

.container{
    border: 1px solid rgb(255, 255, 255);
    padding: 48px 24px 48px 24px;
    margin: 0 auto;
    border-radius: 16px;
    background-image:url("../assets/quote-bg.png") ;
    background-color:rgb(255, 255, 255) ;
    background-repeat: no-repeat;
    margin-top: 20px;
    background-position-x: 31px;
    background-position-y: 35px;
}
.satelite-section{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
}
.satelite-section >h1{
    font-size: 32px;
font-weight: 700;
margin-bottom: 10px;
margin-top: 20px;
}
.satelite-paragraph{
    margin-top: 1px ;
    margin-bottom: 2px;
}

.satelite-container{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
   
}
.img-container{
    margin-top: 20px;
    margin-left: 20px;
}
.img-container-2{
    margin-top: 20px;
    margin-right: 20px;
}
.img{
  
    border-radius: 24px;
    width: 400px;
    
}
.satelite-container-2{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    gap:40px;
    margin-left: 20px;
}

.donate-section{
    text-align: center;
    justify-content: center;
}
.donate-section>h1{
    font-size: 40px;
font-weight: 700;
}
.model{
    border: 1px solid black;
    padding: 20px 20px;
    border-radius: 12px;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background-color: aliceblue;
    
    
}
.model:hover {
    background-color: rgb(69, 168, 165);
    font-weight: 900;
    box-shadow: 5px 4px 5px 2px palevioletred;
   font-size: 65px;
    
  };

.model > p{
    font-size: 60px;
    font-weight: 700;
    padding: 20px 20px;
}
.model-container{
    display: flex;
    gap: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.input-1{
    padding: 12px 20px 12px 20px;
    width: 900px;
    height: 20px;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 20px;
    border-right: 1px;
    border-radius: 8px 8px 8px 8px;
    }
.subscribe-section{
    background-color: rgb(198, 228, 214);
    padding: 60px 80px;
    margin-top: 20px;
    align-items: center;
    justify-items: center;
    text-align: center;
    
}
.subscribe-section >h1{
Font-weight: 700;
Font-size: 40px;
margin-bottom: 16px;
};
.email-section{
    display: flex;
    gap: 0;
    margin-top: 24px;
    justify-items: center;
  margin: 0 auto;
}
.email-section> button{
  width: 200px;
  border-radius: 0px 8px 8px 0px;
  position: absolute;
  border: 0px solid white;
 
}

input{
 
    width: 500px;
    height:50px;
    border-radius: 12px 0px 0px 12px;
    border-right:0 ;
    position: relative;
}
.footer{
    padding: 50px 160px;
    background-color: aliceblue;
    margin-top: 20px;
    text-align: center;
}
.footer>p{
    font-weight: 700;
    font-size: 26px;
    margin-top: 2px;
    margin-bottom: 30px;
}
.logo{
    padding-top: 10px;
    margin-top: 40px;
}
.button-4{
    margin-top: 0px;
    margin-bottom: 10px;
    width: 270px;
    height: 56px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border-color: aliceblue
    ;
    color: aliceblue;
}
.btn:hover{
    background-color: rgb(181, 64, 196);
    cursor: pointer;
    font-style: italic;
    font-weight: 900;
    font-size: large;-
    text-transform: capitalize;
  
}
