body{
    background: rgb(245, 245, 245);
    margin:  20px 160px 0 160px ;
   /* padding: 80px 100px 80px 100px ; */
}
nav>ul{
    display: flex;
    justify-content: space-between;
}
nav> ul >li{
    list-style: none;
}

h2{
    font-weight: 700;
    font-size: 32px;
}
.sign-in{
    border:  1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 10px;
    width: 100px;
    height: 35px;
    text-align: center;
    align-items: center;
   
}
.paragraph{
    font-size: 18px;
font-weight: 600;
color: rgb(0, 106, 80);
text-align: center;
align-items: center;
}
.banner-container{
    display: flex;
    justify-content: space-evenly;
   background: rgb(198, 228, 214);
   padding: 80px 100px 80px 100px;
   /* margin:  0px  auto ;
   /* padding: 80px 100px 80px 100px ;  */
   gap: 64px;
   margin-bottom: 80px;
}
.banner-content{
    text-align: left;
}
.banner-content>h1{
    font-size: 56px;
    font-weight: 700;
}

button{
    width: 270px;
    height: 56px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border-color: aliceblue
    ;
    color: aliceblue;
}