body{
    background: rgb(245, 245, 245);
    margin:  20px 160px 0 160px ;
   /* padding: 80px 100px 80px 100px ; */
}
nav>ul{
    display: flex;
    justify-content: space-between;
}
nav> ul >li{
    list-style: none;
}

h2{
    font-weight: 700;
    font-size: 32px;
}
.sign-in{
    border:  1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 10px;
    width: 100px;
    height: 35px;
    text-align: center;
    align-items: center;
   
}
.paragraph{
    font-size: 18px;
font-weight: 600;
color: rgb(0, 106, 80);
text-align: center;
align-items: center;
}
.banner-container{
    display: flex;
    justify-content: space-evenly;
   background: rgb(198, 228, 214);
   padding: 80px 100px 80px 100px;
   /* margin:  0px  auto ;
   /* padding: 80px 100px 80px 100px ;  */
   gap: 64px;
   margin-bottom: 80px;
}
.banner-content{
    text-align: left;
}
.banner-content>h1{
    font-size: 56px;
    font-weight: 700;
}

button{
    width: 270px;
    height: 56px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border-color: aliceblue
    ;
    color: aliceblue;
}
.pillar-container{
    display: flex;
    
    gap:30px ;
}
.pillar-heading{
    font-size: 40px;
font-weight: 700;
}
.pillar-1{
    border: 1px solid black;
    border-radius: 8px;
    padding: 30px 30px;
    margin:  24px 0;

}
.box{
    border: 2px solid blueviolet;
    padding: 32px 32px;
    margin: 12px 0;
    border-radius: 16px;
  
}
.vision-container{
    display: flex;
    gap:20px;
}
.bg-1{
    background-color:rgba(84, 144, 245, 0.2) ;
}
.bg-2{
    background-color:rgb(198, 228, 214) ;
}
.bg-3{
    background-color:rgb(247, 235, 207) ;
}

.container{
    border: 1px solid rgb(255, 255, 255);
    padding: 48px 24px 48px 24px;
    margin: 0 auto;
    border-radius: 16px;
    background-image:url("../assets/quote-bg.png") ;
    background-color:rgb(255, 255, 255) ;
    background-repeat: no-repeat;
    background-position: top left inherit;
}
.satelite-container{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}
.satelite-container-2{
  
    display: flex;
    flex-direction: row-reverse;
    gap:40px
}
.satelite{
    margin-top: 20px;
}